.checkbox {
  margin-left: 10px;
}

.item {
  margin: 0;
  padding: 0;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
