  /* label color */
  .input-field label {
    color: #fff;
  }

  .input-field
  /* label focus color */
  .input-field input[type=text]:focus + label {
    color: #fefefe;
  
  }

  .input-field input[type=text] {
    color: #c6c6c6;
    border-bottom: 1px solid rgb(241, 226, 226);
    box-shadow: 0 1px 0 0 rgb(202, 186, 186);
  }
  /* label underline focus color */
  .input-field input[type=text]:focus {
    color: #dedede;
    border-bottom: 1px solid rgb(241, 226, 226);
    box-shadow: 0 1px 0 0 rgb(202, 186, 186);
  }

  
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: rgb(168, 56, 56);
  }
       